[submodule "_plugins/sass"]
	path = _plugins/sass
	url = git://gist.github.com/960150.git
[submodule "_plugins/jekyll_press"]
	path = _plugins/jekyll_press
	url = git://github.com/stereobooster/jekyll_press.git
[submodule "js/_jquery-yql"]
	path = js/_jquery-yql
	url = git://github.com/gabrielfalcao/jquery-yql
