---
layout: default
top: Russell Harmon
---

<div id="header">
	<h1>
		<span class="nav">
			<a class="name" href="/">Russell Harmon</a>
		</span>
	</h1>
	<ul class="nav linkhighlight">
		<li>
			<a class="home" href="/">Home</a>
		</li>
		<li>
			<a rel="me" class="blog" href="/machinae">Blog</a>
		</li>
		<li>
			<a class="resume" href="/files/resume.pdf">Resume</a>
		</li>
		<li>
			<a rel="me" class="code" href="http://github.com/eatnumber1">Code</a>
		</li>
		<li>
			<a rel="author" class="gplus" href="http://profiles.google.com/{{ site.google_plus_id }}">Google+</a>
		</li>
	</ul>
</div>
<div id="page">{{ content }}</div>

{% comment %}
vim: ft=liquid sw=4 ts=4 sts=4
{% endcomment %}
