---
layout: default
top: Russell Harmon
---

<div id="header">
	<h1>
		<span class="nav">
			<a class="name" href="/">Russell Harmon</a>
		</span>
	</h1>
	<ul class="nav linkhighlight">
		<li>
			<a class="home" href="/">Home</a>
		</li>
		<li>
			<a rel="me" class="blog" href="/machinae">Blog</a>
		</li>
		{% comment %}
		<li>
			<a class="resume" href="/files/resume.pdf">Resume</a>
		</li>
		{% endcomment %}
		<li>
			<a rel="me" class="code" href="https://github.com/eatnumber1">Code</a>
		</li>
		<li>
			<a rel="publisher" class="twitter" href="https://twitter.com/eatnumber1">Twitter</a>
		</li>
	</ul>
</div>
<div id="page">{{ content }}</div>

{% comment %}
vim: ft=liquid noet ts=2 sw=2 sts=2
{% endcomment %}
